.deleteBtn {
  width: 19px;
  height: 24px;
  flex-shrink: 0;
  /* fill: var(--color1); */
  border: none;
  background-color: transparent;
  color: var(--color1);
}

.deleteBtn:hover {
  color: red;
}
