.btn__component {
  /* display: block; */
  width: 20rem;
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: transparent;
  color: var(--color1);
  border: none;
  font-size: 2.4rem;
  font-weight: 400;
  margin-left: 0;
}
