.addbtn__component {
  width: 24rem;
  background: var(--color6);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #f2bed1;
  font-size: 1.6rem;
}

.addbtn__component:hover {
  box-shadow: none;
}
