.report-list__info {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 10px;
  padding: 10px 0 20px 0;
}
/* ================side menu ======================= */
.side-menu__report {
  width: fit-content;
  height: 52rem;
  text-align: top;
  background-color: var(--color8);
  border-radius: 15px;
  box-shadow: 0 0 4px 0 var(--shadow);
}

h2 {
  color: var(--color8);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 160px;
}

/* ==============discount list================ */
.report-list__content {
  width: 100%;
  height: auto;
}
.report-list__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.report-list__title {
  margin-left: 25px;
}

.btn__action {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 10px;
}

.btn__view {
  margin-left: 50px;
}
/* ====================table================= */
.table-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 0px var(--shadow);
}

.promo-table {
  width: 100%;
  border-collapse: collapse;
}

.promo-table th,
.promo-table td {
  padding: 10px;
  text-align: center;
}

.promo-table th {
  font-weight: 700;
  color: var(--color8);
  font-size: 1.6rem;
}

.promo-table tbody tr:hover {
  background-color: var(--grey9); /* Màu nền khi hover */
}

.promo-table tbody tr.highlight {
  background-color: var(--color6); /* Màu nền sáng lên */
  transition: background-color 0.3s ease; /* Hiệu ứng mượt */
}

.promo-table tbody tr.highlight:hover {
  background-color: var(--color6); /* Màu nền sáng hơn khi hover */
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--color8);
}

.delete-btn:hover {
  color: red;
}

.report-dropdown-container {
  margin-left: 18px;
  display: flex;
  gap: 100px;
}

.report-dropdown {
  font-weight: bold;
  width: 18rem;
  border-radius: 15px;
  height: 5.5rem;
}

.report-total-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 800px;
  margin-top: 25px;
  margin-left: 26px;
}

.report-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

/* Phần tiêu đề */
.report-title table {
  width: 100%;
  height: 50px;
  border-collapse: collapse;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  box-shadow: 0 0 4px 0 var(--shadow);
  color: var(--color8);
}

.report-title th {
  justify-content: center;
  font-size: 20px;
  background-color: var(--color6);
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Phần số liệu */
.report-data table {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  box-shadow: 0 0 4px 0 var(--shadow);
}

.report-data td {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: var(--color8);
}

.custom-dropdown {
  display: inline-block;
  margin-right: 10px;
}

.custom-dropdown .dropdown-toggle {
  background-color: var(--white);
  color: var(--color8);
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 1.8rem;
  /* align-items: center; */
  box-shadow: 0 0 4px 0 var(--shadow);
  width: 18rem;
  height: 5.5rem;
  border-radius: 15px;
}

.custom-dropdown .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.report-dropdown-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
