.btn__component {
  display: flex;
  width: var(--button-width);
  height: var(--button-height);
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color6);
  color: var(--color8);
  box-shadow: 0px 0px 10px 0px #f2bed1;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  transition-duration: 0.25s;
}

.btn__component:hover {
  background: var(--color5, #f3d0d7);
  box-shadow: none;
  color: var(--color8);
}
