.h1 {
  color: var(--color6);
  text-align: center;
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 28px;
  margin: auto;
}

.CustomDropDown {
  margin-left: -50px;
  box-shadow: none;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 3 cột */
  gap: 20px;
  /* Khoảng cách giữa các CardNews */
  margin-top: 50px;
}

.news-grid-item {
  width: 100%;
}