* {
  box-sizing: border-box;
}

:root {
  /* color */
  --brown100: #;
  --brown50: #3a060580;
  --brown30: #3a060e4d;
  --green100: #b1e321;
  --green80: #b2e321cc;
  --green50: #b3e42150;
  --green30: #b1e3214d;
  --green10: #b2e3211d;
  --white: #fff;
  --grey5: #f5f5f5;
  --grey9: #f9f9f9;
  --grey: #ccc;
  --shadow: #203c1640;
  --button-width: 13rem;
  --button-height: 4.4rem;
  --search-box-width: 44rem;
  --search-box-height: 5.2rem;
  --font-size: 1.6rem;
  --font-size-title: 4rem;
  --color1: #fff;
  --color2: #000;
  --color3: #fef5ed;
  --color4: #ffefef;
  --color5: #f3d0d7;
  --color6: #f2bed1;
  --color7: #e53888;
  --color8: #09122c;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
