.order-list__info {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 10px;
  padding: 10px 0 20px 0;
}
/* ================side menu ======================= */
.side-menu__order {
  width: fit-content;
  height: 52rem;
  text-align: top;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 0 4px 0 var(--shadow);
}

h2 {
  color: var(--color6);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 160px;
}

/* ==============order list================ */
.order-list__content {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 0px var(--shadow);
  padding: 20px;
}
.order-list__action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 10px; */
  margin-bottom: 20px;
}

/* .order-list__title {
    margin-left: 25px;
  } */

.btn__action {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 10px;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color6);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.cost {
  display: flex;
  flex-direction: column;
}

.total-bill {
  font-size: 2rem;
  font-weight: 600;
  color: var(--brown100);
}

.info-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.label-status {
  padding: 10px 20px;
  background-color: var(--green50);
  border-radius: 25px 0;
  margin-bottom: 10px;
}

.info-customer > p {
  margin-bottom: 20px;
}

.info-customer {
  margin-top: 20px;
}

.info-customer .info-grid {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1 phần cho tiêu đề, 2 phần cho giá trị */
  gap: 10px 30px; /* Khoảng cách giữa các hàng và cột */
}

.info-customer .info-row {
  display: contents; /* Đảm bảo mỗi hàng chia thành hai ô cột */
}

.info-customer .info-title {
  /* font-weight: bold; */
  text-align: left; /* Căn trái */
  color: var(--brown100);
}

.info-customer .info-value {
  text-align: left; /* Căn trái */
}
