.introduce {
  margin: 50px 0;
  font-size: 1.6rem;
  color: var(--color6);
}

/* ==========================introduce title===================== */
.introduce__top {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.introduce__title {
  font-size: 4rem;
  font-weight: 700;
  margin: 10px 0;
}

/* ===========================introduce bot============================= */
.introduce__bot {
  display: inline-flex;
  justify-content: space-between;
}

/* ===========================introduce left============================= */
.introduce__image img {
  position: absolute;
  z-index: 1;
  width: 50rem;
  height: 35rem;
  /* clip-path: inset(20px round 10px); */
  /* clip-path: inset(round 15px 20px 15px 20px); */
  border-radius: 15px 20px 15px 20px;
  margin: 10px 10px 50px 20px;
  object-fit: cover;
}

.introduce__image--border {
  position: relative;
  top: 30px;
  left: 0px;
  width: 50rem;
  height: 35rem;
  background-color: transparent;
  border: 2px solid var(--color6);
  border-radius: 20px;
}

/* ===========================introduce right============================= */
.introduce__right {
  min-width: 60rem;
  margin: 20px 0 0 50px;
}

.introduce__paragraph--title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2rem;

}

.introduce__paragraph--content {
  text-align: justify;
  word-spacing: 5px;
  line-height: 1.75;
  color: #fff;
}