.add-category__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.add-category__content {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: transparent;
  box-shadow: 0px 0px 4px 0px var(--shadow);
}

.category__info {
  margin: 20px;
}

.add_category__title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--color6);
}

.id__title,
.name__title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color1);
  margin-bottom: 10px;
}

/* ==========discount__content====== */
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.btn__add-category {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
